.email-compose-wrapper {
    width: 45%;
    height: 55%;
    position: fixed;
    left: 5%;
    bottom: 20px;
    background-color: #fff;
    z-index: 100;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 6px;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.email-compose-header {
    background-color: var(--main-bg-color);
    padding: 15px 20px;
}

section.mail-compose {
    padding: 0 20px;
}

.email-compose form {
    display: flex;
    flex-direction: column;
}

.email-compose input {
    font-size: 1.2rem;
    outline: none;
    border: none;
}

.email-compose-header h3 {
    margin: 0;
    font-size: 1em;
}

.email-compose-header i {
    cursor: pointer;
}

.email-compose input {
    border-bottom: 1px solid lightslategray;
}

.email-compose button {
    margin: 15px 0;
    background-color: #0b57d0;
    font-size: 1em;
    color: #fff;
    padding: 5px 1em;
    border-radius: 2em;
    border: none;
    max-width: 25%;
    margin-block-start: 150px;
    margin-inline-start: 1em;
}

button.compose-button {
    border: none;
    border-radius: 28px;
    color: #fff;
    height: 48px;
    padding: 0 24px;
    margin-block-end: 1em;
    min-width: 96px;
    background-color: #4285f4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button.compose-button:hover {
    background-color: #357ae8;
}