.mail-preview {
    width: 90vw;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.mail-preview > * {
    margin: auto;
}

.mail-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
    cursor: pointer;
}

.mail-preview .star {
    margin-inline-start: 1em;
    color: #d4d4d4;
    transition: color 0.3s;
}

.mail-preview .star {
    color: #f0d74e;
}

.mail-preview .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 70%;
    text-align: center;
    gap: 10px;

}

.mail-preview .content p:not(:last-child) {
    font-weight: bold;
    color: #333;

}

.mail-preview .date-options {
    width: 160px;
    text-align: end;
}

.mail-preview .subject {
    color: #333;
    margin-top: 4px;
    text-align: left;
}

.mail-preview .options {
    display: flex;
    align-items: center;
}

.mail-preview .options button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: #d4d4d4;
}

.mail-preview .options button:hover {
    color: #1f1f1f;
}

.mail-preview .date {
    color: #999;
    flex-basis: 15%;
}

.mail-preview .unread {
    color: #d4d4d4;
    margin-right: 10px;
}

.mail-preview .unread:hover {
    color: #333
}

.mail-preview .starred {
    background-color: transparent;
    border: none;
    border-radius: 2em;
    padding: 10px;
    cursor: pointer;
    color: #f0d74e;
    transition: box-shadow 0.3s;
}

.mail-preview .unstarred {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 2em;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.mail-preview .content .mail-body {
    color: #919191;
}

.mail-preview button {
    border-radius: 2em;
}

.mail-preview button:hover {
    background-color: var(--clr2);
}