@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


@font-face {
    font-family: roboto;
    src: url('../../fonts/roboto/Roboto-Regular.ttf');
}


/* FONT AWSOME */

@font-face {
    font-family: fa-notes;
    src: url("../../fonts/fa/fa-regular-400.ttf");
}
@font-face {
    font-family: fa;
    src: url("../../fonts/fa/fa-solid-900.ttf");
}
/* @font-face {
    font-family: fa-solid;
    src: url("../../fonts/fa/fa-solid-900.ttf");
} */

.fa::before {
    font-family: fa;
}
.fa-notes::before {
    font-family: fa-notes;
    /* font-size: 1rem; */
}

.fa-solid::before {
    font-family: fa-solid;
}


/* Note */
.fa-notes.remove::before {
    content: "\f2ed";
}

.fa.bg-color::before {
    content: "\f53f";
}

.fa-notes.duplicate::before {
    content: "\f24d";
}

.fa-notes.image::before {
    content: "\f03e";
}

.fa-notes.list::before {
    content: "\f14a";
}
.fa.thumbtack::before {
    content: "\f08d";
}

.fa.search::before {
    content: "\f002";
}


/* FA mail */
.fa.inbox::before {
    content: "\f01c";
}

.fa.sent::before {
    content: "\f1d8";
}

.fa.trash::before {
    content: "\f2ed";
}

.fa.draft::before {
    content: "\e4eb";
}

.fa.unstarred::before {
    content: "\2606";
}

.fa.starred::before {
    content: "\f005";

}

.fa.unread::before {
    content: "\f0e0";
}

.fa.arrow-left::before {
    content: "\f060";
}
.fa.arrow-up::before {
    content: "\f062";
}
.fa.arrow-down::before {
    content: "\f063";
}

.fa.arrow-next-right::before {
    content: "\f054";
}

.fa.arrow-next-left::before {
    content: "\f053";
}

.fa.user::before {
    content: "\f2bd";
    border-radius: 50px;
    color: #4ac3ea;
    font-size: 50px;
    background: blue;
}