:root {
    --main-bg-color: lightblue;

    /* NOTES */
    --clr1: #6f7478;
    --clr2: #d1d1d17a;
    /* notes bg-color scheme */
    --clr-bg-1: #87CEEB;
    --clr-bg-2: #98FB98;
    --clr-bg-3: #E6E6FA;
    --clr-bg-4: #FFDAB9;
    --clr-bg-5: #FFE4E1;
    --clr-bg-6: #C8A2C8;

}