.note-toolbar {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    margin-block-start: auto;
}

.note-toolbar.edit {
    opacity: 1;
    margin-block-start: auto;
}

.note-toolbar:hover {
    opacity: 1;
}

.note-toolbar button {
    background-color: transparent;
    border: none;
    border-radius: 2em;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.note-toolbar .fa-notes {
    font-size: 1rem;
}

.note-toolbar .bg-color {
    position: relative;
}