.note-preview {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    /* width: 240px; */
    /* min-height: 130px;
    margin-block-end: 1em;
    break-inside: avoid;
    background-color: aliceblue;
    border-radius: 10px; */
}

.note-preview .txt{
    padding: 10px;
}