.note-color-palette {
    position: absolute;
    display: flex;
    padding: 5px;
    top: 100%;
    z-index: 10;
    
    margin-block-start: .5em;
    background-color: white;
    border-radius: 8px;
    outline: 1px solid #d3d3d3;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.note-color-palette div {
    width: 30px;
    height: 30px;
    margin-inline-start: .5em;
    border-radius: 2em;
    cursor: pointer;
}

.note-color-palette div:last-of-type {
    margin-inline-end: .5em;
}

/* .note-color-palette div:hover {
    outline: 1px solid lightgrey;
}

.note-color-palette div[value="soft-blue"] {
    background-color: var(--clr-bg-1);
}

.note-color-palette div[value="pale-green"] {
    background-color: var(--clr-bg-2);
}

.note-color-palette div[value="lavender"] {
    background-color: var(--clr-bg-3);
}

.note-color-palette div[value="peach"] {
    background-color: var(--clr-bg-4);
}

.note-color-palette div[value="misty-rose"] {
    background-color: var(--clr-bg-5);
}

.note-color-palette div[value="lilac"] {
    background-color: var(--clr-bg-6);
} */