.note-list {
    position: relative;
    columns: 6 240px;
    column-gap: 15px;
    padding: 10px;
}

.note-list .note-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* width: 240px; */
    min-height: 130px;
    padding: 15px;
    margin-block-end: 1em;
    break-inside: avoid;
    background-color: white;
    border-radius: 8px;
    outline: 1px solid #d3d3d3;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
    transition: transform 0.2s ease-in-out;
}

.note-list .note-container:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}