.note-filter {
  position: relative;
  padding: 10px;
}

.note-filter form {
  width: 720px;
}

.note-filter input {
  width: 100%;
  padding: 15px;
  padding-inline-start: 3em;
  border: none;
  border-radius: 5px;
  background-color: #f1f3f4;
  font-size: 14px;
  outline: none;
}

.note-filter input::placeholder {
  margin-inline-start: 2em;
}

.note-filter .fa {
  position: absolute;
  left: 1.5em;
  bottom: 1.5em;
  display: block;
  color: var(--clr1);
}