.mail-details-header{
    font-size: 1.2rem;
    padding: 20px;
}
.mail-details {
    padding: 0 20px 20px 20px;
}

.mail-details i {
    cursor: pointer;
}

.mail-details i {
    padding: 10px;
    border-radius: 2em;
}

.mail-details i:hover {
    background-color: var(--clr2);
}