.mail-index .mail-header {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

.mail-index button {
   border-radius: 2em;
}

.mail-index button:hover {
   background-color: var(--clr2);
}