.note-index .note-header {
    display: flex;
    align-items: center;
}

.note-index .note-icon {
    padding: 10px;
    width: 100px;
}

.note-index hr {
    margin: 0;
    margin-block-end: 2em;
}

.note-index button {
    border-radius: 2em;
}

.note-index button:hover {
    background-color: var(--clr2);
}