header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(253, 245, 245);
    border-bottom: 2px solid white;
    height: 9em;
}

.app-header h1 {
    color: #2157afb4;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}

.app-header a {
    font-size: 1rem;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: overline;
}